@model IEnumerable<InquiryViewModel>

@{
    ViewBag.Title = "Всички запитвания";
}

<h2>@ViewBag.Title</h2>

@if (User.IsAdmin())
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <p> @item.Title</p>
                <p>@item.Description</p>
                <p>@item.InitiatorUserName</p>
                <p> @item.PhoneNumber</p>
                <p>@item.Date</p>

             @if(item.Response!=null)
             {
                <p>@item.Response.InquiryResponse</p>
                    <p>@item.Response.DateOfResponse</p>
                }
                else
                {
                    <a asp-area="" asp-controller="Inquiry" asp-action="AddResponse" class="btn btn-primary btn-lg" role="button">Отговори</a>
                }
            </li>

        }
    </ul>
}