@model IEnumerable<InquiryViewModel>

@{
    ViewBag.Title = "Моите запитвания";
}
<h2>@ViewBag.Title</h2>

@if (Model.Count() == 0)
{
    <p>Нямате запивания</p>
}
else
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <p> @item.Title</p>
                <p>@item.Description</p>
                <p>@item.InitiatorUserName</p>
                <p> @item.PhoneNumber</p>
                <p>@item.Date</p>

                @if (item.Response != null)
                {
                    <p>@item.Response.InquiryResponse</p>
                    <p>@item.Response.DateOfResponse</p>
                }
                
            </li>

        }
    </ul>
}