@model List<FrequentlyAskedQuestionModel>
@{
    ViewBag.Title = "FAQ";
}
<h2>@ViewBag.Title</h2>

@if (User.IsAdmin())
{
    <a asp-area="Admin" asp-controller="FAQ" asp-action="Add" class="btn btn-primary btn-lg" role="button">Добави</a>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <p> @item.Question</p>
                <p>@item.Answer</p>
            </li>
            <a class="ml-2 btn btn-danger" asp-controller=" FAQ " asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
        }
    </ul>
}
else
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <p> @item.Question</p>
                <p>@item.Answer</p>
            </li>
        }
    </ul>
}

<div>
    Page @(ViewBag.CurrentPage) of @(ViewBag.TotalPages)

    @if (ViewBag.CurrentPage > 1)
    {
        @Html.ActionLink("Previous", "All", new { page = ViewBag.CurrentPage - 1 })
    }
    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        @Html.ActionLink("Next", "All", new { page = ViewBag.CurrentPage + 1 })
    }
</div>
