@model List<FrequentlyAskedQuestionModel>
@{
    ViewBag.Title = "FAQ";
}

<p>
    <a asp-controller="FAQ" asp-action="Add" class="btn btn-primary btn-lg" role="button">Добави</a>

</p>

<h2>@ViewBag.Title</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <p> @item.Question</p>
            <p>@item.Answer</p>
        </li>
    }
</ul>

<div>
    Page @(ViewBag.CurrentPage) of @(ViewBag.TotalPages)

    @if (ViewBag.CurrentPage > 1)
    {
        @Html.ActionLink("Previous", "All", new { page = ViewBag.CurrentPage - 1 })
    }
    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        @Html.ActionLink("Next", "All", new { page = ViewBag.CurrentPage + 1 })
    }
</div>